<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Customer Tab</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/tab.css" />
		<script src="assets/js/jquery.js"></script>
		<script src="assets/js/Validate.js"></script>
	</head>
	<body>
		{{{body}}}
		<script src="assets/js/new.js"></script>
	</body>
</html>