<div class="container">
  <h2>Customer Tab</h2>
  <p>
    <b>Description</b>: <br>Customer tab is a multi-platform app for keeping tabs on customers credit and also personal credit.<br><br>
    This application can also be used to keep track of payments, time of payment, total amount an individual customer is still owing and this description applies to personal credit also.
    <br><br>
    <b>Downloads</b>: {{count}}<br>
  </p>
  <div class="center-item">
    <img src="assets/img/download.svg" width="100">
    <a id="app" href="/download-app/"><h3>Download Apk</h3></a>
  </div>
</div>
<style>
  h1, h3 {
    color: green;
  }

  p {
    padding: 5px;
    line-height: 1.5;
    color: #333;
  }
  
  .center-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
</style>
<script>
  var dev = navigator.platform.split(' ')[1];
  var url = $('#app').attr('href') + dev;
  $('a#app').attr('href', url);
</script>