<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Tab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/tab.css">
</head>

<body style="margin: 0; overflow: hidden">

    <div class="container">
        <div id="home">
            <div class="home">
                <h1>
                    Customer's Tab
                </h1>

                <div class="home-large">&#x20A6; <span>1,000</span></div>
                <div class="exit-home">OK</div>
            </div>
        </div>
        <div class="tabs">
            <div id="customers">
                <div class="add-btn-div">
                    <div class="add-btn"><i>&plus;</i> <span>Add Customer</span></div>
                </div>
                <div class="customers">
                    <div class="list">
                        <h3>Mr. Tee</h3>
                        <span class="debt">&#x20A6; <span>1,000</span></span>
                        <div class="dot-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="link">
                            <a href="add">Add to tab</a>
                            <a href="remove">Remove from tab</a>
                            <a href="reset">Reset tab</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="add">
                <div class="back-div">
                    <div class="back"><i>&laquo;</i> <span>Back</span></div>
                </div>
                <h2>Add to tab</h2>
                <form>
                    <div>
                        <label for="amount">Amount Paid</label>
                        <input type="num" name="amount" value="0" placeholder="Amount paid">
                    </div>
                    <div>
                        <label for="amount">Total price</label>
                        <input type="num" name="price" amount="" placeholder="Total price">
                    </div>
                    <div>
                        <label for="goods">Goods bought</label>
                        <textarea name="goods" id="goods" placeholder="Goods bought..."></textarea>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
            <div id="remove">
                <div class="back-div">
                    <div class="back"><i>&laquo;</i> <span>Back</span></div>
                </div>
                <form>
                    <div>
                        <label for="amount">Amount paid</label>
                        <input type="num" name="price" placeholder="Amount paid...">
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
            <div id="new">
                <div class="back-div">
                    <i>&laquo;</i>
                    <div class="back"> <span>Back</span></div>
                </div>
                <h2>New Customer</h2>
                <form>
                    <div>
                        <label for="amount">Customer Name</label>
                        <input type="text" name="name" placeholder="Customer name...">
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>